*{
    margin:0px;
    padding: 0px;
}


section{
    margin: auto;
    
}

.ADbox1-1{
    border: 2px solid black;
    width: 300px;

}

.titlebox{
    background-color: #ff0000;
    color: #ffff;
    display: flex;
    font-size: 50px;
    vertical-align: middle;

}

.number{
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.5em;

}
.title{
    font-size: 1em;
    /* vertical-align: middle; */
}
.contentbox{
    background-color: #000;
    color: #ffff;
    box-sizing: border-box;
    margin: 0px;
}
.contentbox p:nth-child(1){
    font-size: 2em;
      
}
    





