*{
    margin:0px;
    padding: 0px;
   
}


section{
    margin: auto;
    
}

.ADbox1-1{
      width: 300px;

}

.titlebox{
    line-height:100px;
    background-color: rgba(248, 11, 11, 0.71);
    color: #ffff;
    display: flex;
    font-size: 50px;
    text-align: center;
    /* vertical-align: middle; */
}

.number{
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-align: center;
    font-size: 100px;

}
.title{
    /* font-size: 50px;
   */
    /* vertical-align: middle; */
}



.contentbox{
    background-color: #000;
    color: #ffff;
    box-sizing: border-box;
    margin: 0px;
}
.contentbox p:nth-child(1){
    font-size: 2em;
      
}
    





