*{
    margin:0px;
    padding: 0px;
   
}



.ADbox01{
      width: 300px;
      margin:auto;
     

}

.titlebox{
    line-height:100px;
    background-color: rgba(248, 11, 11, 0.71);
    color: #ffff;
    display: flex;
    font-size: 50px;
    text-align: center;
    /* vertical-align: middle; */
}

.number{
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-align: center;
    font-size: 100px;


} 



.contentbox{
    background-color: #000;
    color: #ffff;
    box-sizing: border-box;
    margin: 0px;
}
.contentbox p:nth-child(1){
    font-size: 2em;
      
}

.ADbox02{
    background-color: aqua;


}

.ADbox03{
    background-color: blue;
}

.ADbox04{
    background-color: rgb(40, 146, 196);
}

.ADbox05{
    background-color: rgb(225, 33, 183);
}


    





